
</div>
<!-- Footer -->
<footer style='margin-top: 3em; bottom:0; position:absolute; width: 100%;' class="bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center text-white py-3">© 2020 Copyright: Food Drive
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>