<!DOCTYPE html>
<html>
    <head>
        <title>
            Food Drive
        </title>
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/one-page-wonder.min.css" rel="stylesheet">
    </head>
    <body style="min-height: initial;">
          <nav class="navbar navbar-expand-lg navbar-dark navbar-custom bg-black">
            <div class="container">
              <a class="navbar-brand" href="/">Food Drive</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/donations">Donate</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/trips">Trip</a>
                  </li>
                </ul>
                <ul class='navbar-right'>
                  <% if (user) { %>
                    <a href='/logout' class="btn btn-outline-danger">Logout</a>
                  <% } else { %> 
                    <a href='/login' class="btn btn-outline-success">Login</a>
                  <% } %>
                </ul>
              </div>
            </div>
          </nav>