<!DOCTYPE html>
<html>
    <head>
        <title>
            Food Drive
        </title>
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
          <div class='container'>
            <a class="navbar-brand text-white" href="/">Food Drive</a>
            <button class="navbar-toggler white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto ">
                <li class="nav-item">
                  <a class="nav-link text-white" href="/donations">Donate</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="/trips">Trip</a>
                </li>
              </ul>
              <ul class='navbar-right'>
                <a href='/login' class="btn btn-outline-success">Login</a>
                <a href='/logout' class="btn btn-outline-danger">Logout</a>
              </ul>
            </div>
          </div>
          </nav>
          <div class='container'>
