<%- include ("partials/header") %>
<!-- TO INCLUDE HEADER AND FOOTER EJS FILES  -->

  <head>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="/css/one-page-wonder.min.css" rel="stylesheet">
    


  </head>

  
  <body>
    <!-- <div class="jumbotron ">
      <h1 class="display-4 text-center "> Welcome to Food Drive!</h1>
      <p class="lead text-center">Donate from ease from the comfort of your own home</p>
      <hr class="my-4 text-center">
      <p class = "text-center">Click here to begin donating!</p>
      <p class="lead text-center">
      <a class="btn btn-primary btn-lg" href="/register" role="button">Sign up!</a>
      </p>
    </div> -->

    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">Food Drive</h1>
          <h2 class="masthead-subheading mb-0">Become a donor today!</h2>
          <a href="/register" class="btn btn-primary btn-xl rounded-pill mt-5">Register</a>
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>
  
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="img/01.png" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">What We Do?</h2>
              <p>Our number one goal at Food Drive is to increase the supply of incoming food to at local food banks. During the Covid-19 pandemic, food banks are noticing a large decrease in food supplies and hence, are unable to help those who need it. Following a rideshare model, we hope our web application will increase the food supply while also meeting social distancing regulations.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section>
      <div class="container">
        <div class="p-5">
          <h2 class="display-4">How It Works?!</h2>
          <p>ADD PROCESS/STEPS FOR HOW THIS WORKS</p>
        </div>
      </div>
    </section>

    
  

    <div class="container">
      <div class="p-5">
        <h2 class="display-4">Active Donation Map</h2>
      </div>
      <div id="map" style="width: 960px; height: 500px;"></div>
    </div>
    
    <script>
       //Default map view
        var lat = 43.5890;
        var long = -79.6441;
        var zoom = 12;

      var map = L.map('map').setView([lat, long], zoom);



      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}',
        {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            tileSize: 512,
          zoomOffset: -1,
          // id: 'mapbox/streets-v11',
          id: 'mapbox/dark-v10',
          // id: 'mapbox/navigation-preview-night-v4',
          accessToken: 'pk.eyJ1IjoiaGVybWVzMjAyMCIsImEiOiJjazVpaXV2MXEwZjNxM2xwY2tmM3lrNnBpIn0.HHEVLVMufjns5YIvOXknDQ'
      }).addTo(map);


      function put_dot(lat, long) {
        size = 200//icon size
        console.log(size)
        var marker = L.marker([lat, long]);
        marker.addTo(map);
      }

      axios.get('/donations/all')
      .then(response => {
        console.log(response)
        for(let donation of response.data) {
          console.log(donation.author.id)
          axios.get('/users/'+donation.author.id)
          .then(response => { 
            var user_lat = response.data.latitude;
            var user_long = response.data.longitude;

            console.log(user_lat)
            console.log(user_long)

            put_dot(user_lat, user_long);
          })
          .catch(error => {
              console.log(error)
          });

        }
      })
      .catch(error => {
          console.log(error)
      });

    </script>
  </body>
</html>

<%- include ("partials/footer") %>