<%- include ("partials/header") %>
<!-- TO INCLUDE HEADER AND FOOTER EJS FILES  -->


<div class="jumbotron ">
    <h1 class="display-4 text-center "> Welcome to Food Drive!</h1>
    <p class="lead text-center">Donate from ease from the comfort of your own home</p>
    <hr class="my-4 text-center">
    <p class = "text-center">Click here to begin donating!</p>
    <p class="lead text-center">
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign up!</a>
    </p>
  </div>

<%- include ("partials/footer") %>