<%- include ("partials/header") %>
<!-- TO INCLUDE HEADER AND FOOTER EJS FILES  -->

  <head>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
      #map {position: absolute;  right: 0;  left: 0; margin-left:250px; margin-right:250px; height:600px}
    </style>

  </head>

  
  <body>
    <div class="jumbotron ">
      <h1 class="display-4 text-center "> Welcome to Food Drive!</h1>
      <p class="lead text-center">Donate from ease from the comfort of your own home</p>
      <hr class="my-4 text-center">
      <p class = "text-center">Click here to begin donating!</p>
      <p class="lead text-center">
      <a class="btn btn-primary btn-lg" href="/register" role="button">Sign up!</a>
      </p>
    </div>

    <div>
    <div id="map"></div>
    </div>
    
    <script>
       //Default map view
        var lat = 43.5890;
        var long = -79.6441;
        var zoom = 12;

      var map = L.map('map').setView([lat, long], zoom);



      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}',
        {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            tileSize: 512,
          zoomOffset: -1,
          // id: 'mapbox/streets-v11',
          id: 'mapbox/dark-v10',
          // id: 'mapbox/navigation-preview-night-v4',
          accessToken: 'pk.eyJ1IjoiaGVybWVzMjAyMCIsImEiOiJjazVpaXV2MXEwZjNxM2xwY2tmM3lrNnBpIn0.HHEVLVMufjns5YIvOXknDQ'
      }).addTo(map);


      function put_dot(lat, long) {
        size = 200//icon size
        console.log(size)
        var circle = L.circle([lat, long], {
          color: 'red',
          fillColor: 'red',
          fillOpacity: 0.8,
          weight: 1.2,
          // fillRule: 'evenodd',
          radius: size,
        });
        circle.addTo(map);
      }

      axios.get('/donations/all')
      .then(response => {
        console.log(response)
        for(let donation of response.data) {
          console.log(donation.author.id)
          axios.get('/users/'+donation.author.id)
          .then(response => { 
            var user_lat = response.data.latitude;
            var user_long = response.data.longitude;

            console.log(user_lat)
            console.log(user_long)

            put_dot(user_lat, user_long);
          })
          .catch(error => {
              console.log(error)
          });

        }
      })
      .catch(error => {
          console.log(error)
      });

    </script>
  </body>
</html>

<%- include ("partials/footer") %>