
<%- include ("partials/header") %>

<div class = "container">
    <!-- put into container  -->
    <h1>LOGIN!</h1>
    <div>
        <form action = "/login" method = "POST">
            <input type = "text" name = "username" placeholder ="username">
            <input type = "password" name = "password" placeholder = "password">
            <input type = "submit" value = "Login">
        </form>
    </div>



</div>


<%- include ("partials/footer") %>