<%- include ("partials/header") %>

<h1>SUBMIT A NEW DONATION</h1>

<form action = "/donations" method = "POST">
    <input type = "text" name="product" placeholder = "Enter Product Details">
    <input type="submit" value="Request Pickup!">
</form>

<%- include ("partials/footer") %>