<%- include ("partials/header") %>

<h1>SUBMIT A NEW DONATION</h1>

<form action = "/donations" method = "POST">
    <input type = "text" name = "name" placeholder = "Donor name">
    <input type = "text" name = "item" placeholder = "Item Name">
    <input type = "text" name = "address" placeholder = "Address">
    <input type = "submit" value = "Request Pickup!">
</form>

<%- include ("partials/footer") %>